@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.025em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.05em;
  font-weight: 600;
}

p {
  line-height: 1.6;
  font-weight: 400;
}
