@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cider';
  src: url('/happyanniversary/font/FkCiderRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cider';
  src: url('/happyanniversary/font/FkCiderBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cider';
  src: url('/happyanniversary/font/FkCiderThin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CiderCute';
  src: url('/font/FkCiderCute.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CiderCute';
  src: url('/font/FkCiderBoldCute.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '4Butter';
  src: url('/font/TCS 4Butter Demo.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'CiderCute', 'Cider', 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.025em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CiderCute', 'Cider', 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: -0.05em;
  font-weight: 600;
}

p {
  line-height: 1.6;
  font-weight: 400;
}

.font-butter {
  font-family: '4Butter', 'CiderCute', 'Cider', 'Montserrat', Helvetica, Arial, Lucida, sans-serif;;
}
